:host {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title--bud {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .logo {
        max-width: 100%;
        height: auto;
    }

    /* Title and Description Section */
    .title-container {
        text-align: center;
        max-width: 40%;
    }

    .main-title {
        font-size: 2.5rem;
        color: #003366;
        margin-bottom: 10px;
    }

    .sub-title {
        font-size: 1.5rem;
        color: #555555;
        margin-bottom: 20px;
    }

    .description {
        font-size: 1rem;
        color: #666666;
    }

    /* Users Section */
    .users-container {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 20px;
    }
}